<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web生成器 V0.1.0</title>
</head>
<body>
<h1>项目生成器</h1>
<hr>
<h2>预设</h2>
<hr>
<h3>项目名</h3>
<input type="text">
<hr>
<h3>使用框架</h3>
<select name="frame">
    <option value="django">Django2.2</option>
    <option value="flask">Flask</option>
</select>
<hr>
<h3>使用使用python 版本</h3>
<select name="version">
    <option value="py35">Python3.5</option>
    <option value="py36">Python3.6</option>
    <option value="py37">Python3.7</option>
    <option value="py38">Python3.8</option>
</select>
<hr>
<button>创建项目</button>
<button>保存预设</button>


</body>
</html>